<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de paises</span>
            <a class="btn btn-lg btn-dark float-right font-weight-bold" href="Pais/Crear"><i class="fas fa-plus mr-2"></i> Nuevo pais</a>
            <table class="table table-striped mt-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Pais</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.IdPais</th>
                            <td>@item.Nombre</td>
                            <td>
                                @Html.ActionLink("", "Detalle", new { idPais = item.IdPais }, new { @class = "text-decoration-none btn btn-link btn-outline-info fas fa-info-circle", style = "color: blue", title = "Detalle" })
                                @Html.ActionLink("", "Editar", new { idPais = item.IdPais }, new { @class = "text-decoration-none btn btn-link btn-outline-warning fas fa-pen-alt", style = "color: orange", title = "Editar" })
                                @Html.ActionLink("", "Eliminar", new { idPais = item.IdPais }, new { @class = "text-decoration-none btn btn-link btn-outline-danger fas fa-trash-alt", style = "color: darkred", title = "Eliminar" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


